<div class="category">
<h1>{{page.header}}</h1>
<p>Shop By Brand<p>
<p><a class="btn btn-info btn-lg " href="/store" role="button">Also Shop By Category</a></p>
</div>
<div class="storenavbar navbar">
  <div class=" storenavbar heading navbar-header">
    <ul class="nav navbar-nav">
    	<li id="tyke">Tyke</li>
    	<li id ="babyboo">Baby Boo</li>
    	<li id="bannanademocracy">Banana Democracy</li>
    	<li id="roughrider">Rough Rider</li>
    	<li id="carterclothing">Carter Clothing</li>
    	<li id="levimouse">Levi Mouse</li>
    	<li id="mousesomething">Mouse Something</li>
    	<li id="straussfrock">Strauss Frock</li>
  	</ul>
  	</div>
  </div>
  <div id="display"></div>
{{{page.script}}}