<div class="store">
<h1>{{page.header}}</h1>
<p>Our company only picks the highest quality brands. We carefully select each brand based on their views.<p>
</div>
  <div id="display"></div>
{{{page.script}}}