<div class="index-header">
  <h1>Meta Clothing</h1>
<p>Catering to the non-conformists of the world</p>
  <p><a class="btn btn-info btn-lg " href="/store" role="button">Shop Now</a></p>
</div>
<br>
<div class="row">
<div class="index col-md-4">
<div class="thumbnail">
<h2>About Us</h2>
<img class="img-responsive img-rounded image" src="img/cole.jpeg"/>
<p>We are a clothing retailer marketing primarily to hipsters and the Pabst Blue Ribbon drinkers of the world. We love to follow trends and appreciate a good scarf almost as much as a full beard.</p>
<p><a class="btn btn-info btn-lg " id="aboutUs" href="/about" role="button">Learn More</a></p>
</div>
</div>
<div class="index col-md-4">
<div class="thumbnail">
<h2>Contact Us</h2>
<img class="img-responsive img-rounded image" src="img/woman.jpg"/>
<p>We want to make your experience as fantastic as possible. We would love to hear your story about our company</p>
<p><a class="btn btn-info btn-lg " href="/contact" role="button">Contact Us</a></p>
</div>
</div>
<div class="index col-md-4">
<div class="thumbnail">
<h2>Join Now</h2>
<br>
<img class="img-responsive img-rounded image" src="img/join.jpg"/>
<br>
<p>Like what you see... Create a free account today, and shop anytime you want</p>
<br>
<p><a class="btn btn-info btn-lg " id="signUp" href="/signup" role="button">Sign Up</a></p>
</div>
</div>
</div>
{{{page.script}}}
