<div class="store">
<h1>{{page.header}}</h1>
<p>Our company only picks the highest quality brands. We carefully select each brand based on their views.<p>
<p><a class="btn btn-info btn-lg " href="/brand" role="button">Search By Brand</a></p>
</div>
<div class="navbar storenavbar">
  <div class=" heading navbar-header storenavbar">
    <ul class="nav navbar-nav">
    	<li id="Adult Female">Women</li>
    	<li id="Adult Male">Men</li>
    	<li id ="Jr Female">Girls</li>
    	<li id="Jr Male">Boys</li>
  	</ul>
  	</div>
  </div>
  <div id="display"></div>
{{{page.script}}}